html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset above */

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  height: 10vh;
}

nav {
  height: 100%;
  display: flex;
  background-color: #edf2fb;
}

.left-navbar,
.right-navbar {
  width: 25%;
  padding: 30px 50px 0 50px;
}

.left-navbar > span {
  font-size: 1.5em;
  color: rgb(35, 33, 44);
}

.middle-navbar {
  width: 50%;
  padding-top: 40px;
}

.middle-navbar > ul {
  display: flex;
  justify-content: space-between;
}

.middle-navbar a {
  color: rgba(15, 15, 15, 0.829);
}

.right-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.right-navbar > button {
  padding: 10px 40px;
  background-color: #3d5467;
  color: white;
  font-size: 1.1em;
}

.right-navbar > button:hover,
.left-main button:hover {
  cursor: pointer;
}

main {
  height: 50vh;
  display: flex;
  flex-direction: row;
  background-color: #edf2fb;
}

.left-main {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 150px;
}

.left-main > span {
  color: rgba(15, 15, 15, 0.829);
  padding-bottom: 10px;
}

.left-main > h1 {
  font-size: 1.3em;
  color: rgb(35, 33, 44);
  font-weight: bold;
  padding-bottom: 15px;
}

.left-main input {
  width: 30%;
  padding: 10px 0;
  background-color: rgba(189, 212, 210, 0.575);
}

.left-main button {
  padding: 12px;
  background-color: #3d5467;
  color: white;
}

.left-main input::placeholder {
  padding-left: 15px;
}

.left-main p {
  padding-top: 15px;
  width: 85%;
  color: rgba(15, 15, 15, 0.829);
}

.right-main {
  flex-basis: 50%;
}

.right-main img {
  width: 100%;
  height: 100%;
}

.features-section {
  display: flex;
  height: 20vh;
  background-color: #edf2fb;
  padding: 10px 40px;
}

.first-feature,
.second-feature,
.third-feature,
.fourth-feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25%;
}

.feature-headers {
  color: rgb(35, 33, 44);
  font-size: 1.2em;
  font-weight: bold;
}

.feature-paragraphs {
  width: 60%;
  color: rgba(15, 15, 15, 0.829);
}

.feature-links {
  color: rgba(15, 15, 15, 0.829);
  padding-bottom: 20px;
}

footer {
  background-color: white;
  height: 20vh;
  padding: 50px 35px;
}

footer > h2 {
  color: rgb(35, 33, 44);
  font-size: 1.5em;
  padding-bottom: 20px;
}

footer > p {
  color: rgb(163, 159, 159);
  width: 38%;
}
